
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&amp;display=swap');
.work-sans {
  font-family: 'Work Sans', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
header nav ul li a:hover {
  color: #15E0FB;
}
/* Nav submenu */
nav ul li ul li {
  cursor: pointer;
  padding: 0.3rem 0;
  font-size: 1rem;
  text-align: left;
 }
 nav ul li .dropdown-menu {
  position: absolute;
  background-color: #424242;
  display: none;
}
nav ul li:hover .dropdown-menu {
  display: block;
}
